### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
sentense = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

sentense.count("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
print("Enter your name:")
name = input()
print("Enter your color:")
color = input()
print("Enter an animal\'s name:")
animal = input()

Enter your name:
Mary
Enter your color:
white
Enter an animal's name:
lamb

In [6]:
print("{name} had a little {animal}.".format(name="Mary", animal="lamb"))

Mary had a little lamb.

In [7]:
print("it was {color} as snow.".format(color="white"))

it was white as snow.

In [8]:
print("And everywhere that {name} went, the {animal} was sure to go.".format(name="Mary", animal="lamb"))

And everywhere that Mary went, the lamb was sure to go.

3. Print 3.14159 in a scientific number notation

In [9]:
numb=3.14159
print(f"{numb:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [12]:
numb1=3.1559
print(f"{numb1:.3e}")

3.156e+00

5. Print 1589.92341 in a scientific number notation to the power of 3

In [13]:
numb2=1589.92341
print(f"{numb2:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [16]:
print(39 // 2)
print(39 % 2)

19
1

In [17]:
print(19 // 2)
print(19 % 2)

9
1

In [18]:
print(9 // 2)
print(9 % 2)

4
1

In [19]:
print(4 // 2)
print(4 % 2)

2
0

In [20]:
print(2 // 2)
print(2 % 2)

1
0

In [21]:
print(1 // 2)
print(1 % 2)

0
1

In [ ]:
# Assemble the answers
0b100111

In [22]:
# # Verify answer using bin()
bin(39)

'0b100111'

In [28]:
# Verify answer using int() function
numb1 = 0b100111
int(numb1)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [23]:
print(39 // 8)
print(39 % 8)

4
7

In [24]:
print(4 // 8)
print(4 % 8)

0
4

In [ ]:
# Assemble the answers
0o47

In [25]:
# Verify answer using oct()
oct(39)

'0o47'

In [27]:
# Verify answer using int() function
numb = 0o47
int(numb)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [29]:
print(39 // 16)
print(39 % 16)

2
7

In [30]:
print(2 // 16)
print(2 % 16)

0
2

In [ ]:
# Assemble answers together
0x27

In [31]:
# Verify answer using hex()
hex(39)

'0x27'

In [32]:
#Verify answer using int() function
numb2 = 0x27
int(numb2)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [33]:
# Ask user to enter an amount and tax rate in percentage
print("Enter an amount: ")
amount = input()
print("Enter a tax rate: ")
rate = input()

Enter an amount:
2000
Enter a tax rate:
5%

In [41]:
# Calculate tax amount,total , and display amount, rate in percentage, calculated amount, and total 
amount = 2000
rate = 0.05
tax = amount * rate
total = amount + tax
print(f"${amount:,} \n{rate:,.1%}\n${tax}\n${total:,}")

$2,000
5.0%
$100.0
$2,100.0